<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Em construção</title>
</head>
    <body>
        <h1>Aguarde</h1>
        Estamos contruindo esta página em breve ela estará disponível :)<br>
        Navegue pelas páginas ja construidas!<br>
        <a href="index.html"> <input type="button" value="Home"></a>
        <a href="login.html"> <input type="button" value="Tela de Login"></a>
        <a href="cadastro.html"> <input type="button" value="Tela de cadastro"></a>
    </body>
</html>