<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Leva Eu</title>
    <link rel="stylesheet" href="/styles/estiloIndex.css"/>
</head>
    <body>
        <nav id="menu">
            <ul type="disc">
                <li><a href="breve.html">Sobre-nós</a></li>
            </ul>
        </nav>
        <div class="texto">
            <h2>Você é aluno da UFC Campus Crateús e precisa de carona?</h2>
            <a href="login"><input type="button" value="Entrar"></a>
            <span style="margin-left: 20%;"><a href="cadastro"> <input type="button" value="Cadastre-se"></a></span>   
        </div>
    </body>
</html>