<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/estiloLogin.css"/>
</head>
    <body>
        <nav id="menu">
            <ul type="disc">
                <li><a href="/">Inicio</a></li>
                <li><a href="breve.html">Sobre-nós</a></li>
            </ul>
        </nav>
        <div class="loginbox">
            <img src="/assets/user.png" class="avatar">
            <h1>Entrar</h1>
            <form action="/main" method="GET">
                <p>Usuário</p>
                <input type="text" name="" placeholder="Usuário" required autofocus>
                <p>Senha</p>
                <input type="password" name="" placeholder="••••••" required>
                <input type="submit" value="Entrar"><br>
            </form>
            <a href="breve.html">Esqueceu a senha?</a><br>
            <a href="cadastro">Não tem conta?</a>
        </div>
    </body>
</html>