<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Leva Eu</title>
    <link rel="stylesheet" href="styles/estiloPag.css"/>
</head>
    <body>
        <nav id="menu">
            <ul type="disc">
                <li><a href="breve.html">Sobre-nós</a></li>
                <li><a href="/">Sair da sessão</a></li>
            </ul>
        </nav>
        <section>
            <header id="cabecalho">
                <hgroup>
                        <h1>Veja aqui as próximas caronas disponíveis</h1>
                        <p>Não achou sua carona?
                        <button id="btnBusca">Buscar</button>
                        <button id="btnCad">Cadastre uma</button>
                        Ou <a href="/profile" id="btnPerf">Meu perfil</a>
                        <br><br>
                </hgroup>
            </header>
        <div id="site">
                <div id="conteudo-left">
                
            <a href="perfil.html"><img id="perfil" src="assets/perfil1.jpg"/>
            Zachary David Alexander Efron<br>
            Saíndo: Bairro Planalto ás 14:30h<br>
            Referência: Em frente ao Supermercado Cosmos<br>
            Capacidade: 3P</a><br><br>
            
            <br><br>
            <a href="#"><img id="perfil" src="assets/perfil2.jpg"/>
            Scarlett Ingrid Johansson<br>
            Saíndo: Bairro Morada dos Ventos II ás 17:00h<br>
            Referência: Posto Sollo<br>
            Capacidade: 1P</a><br><br>
            
            <br><br>
            <a href="#"><img id="perfil" src="assets/perfil3.jpg"/>
            Brianne Sidonie Desaulniers<br>
            Saíndo: Bairro Cidade nova ás 17:00h<br>
            Referência: Bar do Netim<br>
            Capacidade: 4P</a><br><br>
        </div>
        <div id="conteudo-right">
            <br><br>
            <a href="#"><img id="perfil" src="assets/perfil4.jpg"/>
            Bruno Gagliasso Marques<br>
            Saíndo: Bairro Venâncio ás 17:30h<br>
            Referência: IFCE Campus Crateús<br>
            Capacidade: 1P</a><br><br>
            
            <br><br>
            <a href="#"><img id="perfil" src="assets/perfil5.jpg"/>
            Marina de Souza Ruy Barbosa Negrão<br>
            Saíndo: Bairro São Vicente ás 17:30h<br>
            Referência: Romeu Veiculos<br>
            Capacidade: 3P</a><br><br>
            
            <br><br>
            <a href="#"><img id="perfil" src="assets/perfil6.jpg"/>
            Christopher Robert Evans<br>
            Saíndo: Bairro Venâncio ás 19:00h<br>
            Referência: Em frente ao 40ºBI<br>
            Capacidade: 3P</a><br><br>
        </div>
        </div>
    </section>
    </body>
</html>