<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Leva Eu</title>
        <link rel="stylesheet" href="styles/estiloPerfil.css"/>
    </head>
    <body>
        <nav id="menu">
            <ul type="disc">
                <li><a href="breve.html">Sobre-nós</a></li>
            </ul>
            <section>
                    <input type="button" id="btnVolta" value="&lArr; Ver todas" onClick="history.go(-1)">
                <div id="site">
                    <img id="perfil" src="assets/perfil1.jpg"/>
                    Zachary David Alexander Efron<br>
                    (zac.efron)<br><br>
                    Total de caronas já oferecidas: 06<br>
                    Caronas disponíveis no momento:<br>
                    Saíndo: Bairro Planalto ás 14:30h<br>
                    Referência: Em frente ao Supermercado Cosmos<br>
                    Capacidade: 3P
                </div>
                <div id="mensagem">
                    Essa carona serve para você? <br>
                    Envie uma mensagem ou entre em cotato pelo telefone (88) 9.0000-0000<br>
                    <form>
                        <textarea class="enviar" placeholder="Escreva aqui..."></textarea>  
                    </form>
                </div>
            </section>
        </nav>
    </body>
</html>