@charset "UTF-8";

body{
    font-family: sans-serif;
    background: url(../assets/carona.jpg) no-repeat;
    background-size: cover;
    color: white;
}
/* Formatação do botão sobre nós*/
nav#menu ul { 
    list-style: none;
    position: absolute; 
    top: -10px;
    left: 89%;
}

nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #606060;
}
nav#menu a {
    color: black;
    text-decoration: none;
}
nav#menu a:hover {
    color: #ffffff;
}
#btnVolta{
    height:32px;
    border-radius:7px 7px 7px 7px;
    width:100px;
    font-weight:bold;  
}
section{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    width: 90%;
    height: 85%;
	margin: auto;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(0,0,0,.9);
}
img{
    float: left;
    width: 180px;
    margin-right: 5%;
}

#site{
    width: 80%;
    height: 40%;
    margin: auto;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;

}

#mensagem{
    width: 30%;
    height: 30%;
    margin-top: 3%;
    margin-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
}
.enviar{
    width: 350px;
    height: 100px;
}

@media(max-width: 900px){

    section{
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 72%;
        margin: auto;
        padding: 10px;
        box-sizing: border-box;
        background: rgba(0,0,0,.7);
    }

    body{
        background: url(../assets/carona.jpg);
        
    }
}
