@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
	background: url(../assets/carona.jpg) no-repeat;
	background-size: cover;
    font-family: sans-serif;
    color: #ffffff;
}

h1{
    text-indent: 40%;
    color: #B8860B;
}

nav#menu {
    display: block;
}

nav#menu ul { 
    list-style: none;
    position: absolute; 
    top: -10px;
    left: 84%;
}
nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #606060;
}
nav#menu a {
    color: black;
    text-decoration: none;
}
nav#menu a:hover {
    color: #ffffff;
}

section{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 960px;
	margin: auto;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(0,0,0,.7);
}

label{
    font-weight: bold;
}

input{
    border-radius: 15px;
    padding: 10px;
    margin-right: 95px;
    width: 515px;
    height: 15px;
    outline: 0;
    display: flex;
}


.bot
{
    margin-top: 15px;
    text-align: center;
    border: none;
    outline: none;
    height: 40px;
    width: 130px;
    background: #B8860B;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.bot:hover
{
    cursor: pointer;
    background: #DAA520;
    color: #000;
}

@media(max-width: 900px){

    section{
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 72%;
        margin: auto;
        padding: 10px;
        box-sizing: border-box;
        background: rgba(0,0,0,.7);
    }

    body{
        background: url(../assets/carona.jpg);
        
    }
}
